/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
}
.container {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

section {
  background-color: #A47864;
  padding: 40px;
}

ul {
  list-style-type: none;
}

.back-link{
  background-color: #3a2010;
  color: #fff;
  font-style: bold;
}
.nav{
  background-color: #A47864;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;;
}
.nav-link{
  background-color: #3a2010;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  width: 68px;
  text-align: center;
  border: 1px solid;}

.nav-link:hover {
  color: #A47864;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* width: 100% */
  /* max-width: 1128px; */
}


.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* form styles */
.feedback-form{
background-color: #fff;
padding: 24px;
width: 408px;
height: 296px;
}
.form-label{
  display: block;

}
.form-input{
  display: block;
}

.submit-btn{

}