/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* section {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  margin: 0 auto;
} */
ul {
  list-style-type: none;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* width: 100% */
  /* max-width: 1128px; */
}


.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}